* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMUNI */

.contenitore {
    display: flex;
    margin: 0 auto;
}

/* /COMUNI */

/* DEBUG */
.debug nav {
    background-color: #add8e6;
}

.debug .contenitore.credenziali {
    height: 50px;

}

.debug .logo,
.login,
.link,
.contenitore.video,
.colonna1,
.colonna2,
.colonna-1,
.fine>div {
    border: 2px dashed black;
}

.debug .sfondo-video {
    background-color: blue;
    height: 525px;
}

.debug .contenitore.video {
    background-color: #ee82ee;
    height: 415px;
}

.debug .colonna1 {
    background-color: #1e90ff;
    height: 520px;
}

.debug .colonna2 {
    background-color: #ffc0cb;
    height: 520px;

}

.debug .contenitore.verde {
    height: 935px;
    background-color: green;
}

.debug .colonna-foot1 {
    height: 600px;
}

.debug .colonna-1 {
    background-color: #f08080;
    height: 600px;
}

.debug .colonna-2 {
    background-color: #20b2aa;
    height: 600px;
}

.debug .colonna-2>div {
    border: 2px dashed white;
}

.debug .contenitore.fine{
    height: 85px;
    background-color: #7fffd4;
}


/* /DEBUG */

/* header */

nav {
    padding: 20px;
}

.contenitore.credenziali {
    width: 1250px;
    justify-content: space-between;
    background-color: #daa520;
    align-items: center;
    padding: 10px;
}

.link {
    width: 750px;
}

.logo,
.login {
    width: 250px;
}

.contenitore.video {
    width: 950px;
}

.sfondo-video {
    padding: 55px;
}

/* /header */

/* main */

.colonna1 {
    width: 750px;
}

.colonna2 {
    width: 500px;
}

.contenitore.colonna {
    justify-content: center;
    align-items: center;
    padding: 55px;
}

.reverse {
    background-color: #d3d3d3;
    flex-direction: row-reverse;
}

.contenitore.schermo {
    background-color: #d3d3d3;
    padding: 55px;
}

.contenitore.verde {
    width: 1250px;
}

/* /main */

/* footer */
footer {
    background-color: #23272a;
}

.colonna-1 {
    width: 370px;

}

.colonna-2 {
    width: 875px;
    display: flex;
    justify-content: space-between;
}

.colonna-2>div {
    width: calc(100% / 4)
}

.contenitore.foot {
    padding-top: 12px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
}

.contenitore.fine {
    width: 1250px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.fine>div {
    background-color: #ffb6c1;
    padding: 5px;
}

/* /footer */